<header class="header" style="background-image: url(/img/banner/banner-leaf-1571833_1920.jpg); 
background-position: center;
background-repeat: no-repeat;
background-size: cover;">
  <div class="header__inner">
    <div class="header__logo">
      {{ partial "logo.html" . }}
    </div>
    <div class="menu-trigger">menu</div>
  </div>
  {{ if len $.Site.Menus }}
    {{ partial "menu.html" . }}
  {{ end }}


  <div class="feed-links">
    {{ $atomURLEncoded := strings.TrimPrefix "="  (querify "" ("/atom.xml" | absURL) ) | safeURL | htmlEscape }}

    <a href="https://feedly.com/i/subscription/feed/{{ $atomURLEncoded }}" style="position: relative; margin-right: 10px; text-decoration: none;" title="点击通过 Feedly 订阅">
      <span class="iconfont icon-feedly"></span>
    </a>

    <a href="https://www.inoreader.com/feed/{{ $atomURLEncoded }}" style="position: relative; margin-right: 10px; text-decoration: none;" title="点击通过 Inoreader 订阅">
      <span class="iconfont icon-inoreader"></span>
    </a>

    <a href="javascript:void(0);" onclick="javascript:prompt('Atom Feed: ', '{{ "/atom.xml" | absURL }}');" style="position: relative; margin-right: 0px; text-decoration: none;" title="点击查看RSS地址">
      <span class="iconfont icon-rss1"></span>
    </a>
  </div>

</header>
